<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Foundation.LinkEnhancements.CustomControls.ContentEditor" assembly="Foundation.LinkEnhancements" prefix="linkEnhancements" />
    </controlSources>

    <overrideDialogs>
      <override dialogUrl="/sitecore/shell/Applications/Dialogs/Ultra%20link.aspx" with="/sitecore/client/applications/dialogs/InsertUltraLinkViaTreeDialog" />
    </overrideDialogs>

   
    <pipelines>
      <renderField>
        <processor type="Foundation.LinkEnhancements.Pipelines.Processors.RenderField.GetUltraLinkFieldValue, Foundation.LinkEnhancements" patch:after="processor[@type='Sitecore.Buckets.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Buckets']" />
      </renderField>
      
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">

            <source patch:after="source[last()]" folder="/sitecore/shell/client/Speak/Layouts/Renderings/Data/UltraLinksDataSources" deep="true" category="jsonData" pattern="*.js" />
          </sources>
        </processor>
      </speak.client.resolveScript>
      
    </pipelines>

    <commands>
      <command name="webedit:editultralink" type="Foundation.LinkEnhancements.ExperienceEditor.Commands.EditUltraLink, Foundation.LinkEnhancements" />
    </commands>
  </sitecore>
</configuration>